* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    
}

body {
    background-color: #BFC8E6;
}

.container {
    background-color: #ffffff;
    width: 1400px;
    height: auto;
    border-radius: 10px;
    padding: 100px;
    margin: 0 auto;
    margin-top: 20px;
}
h1 {
    padding-left: 100px;
    margin-bottom: 20px;
}
.SearchAndNav {
    display: flex;
    align-items: center;
    justify-content:space-around;
    align-self: stretch;
    margin-bottom: 70px;
}

.SearchAndNav .searchBar {
    width: 327px;
    padding: 16px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #BFC8E6;
}

.navName {
    font-family:sans-serif;
    font-weight: bold;
    color: #151B32;
    padding: 15px;
    border-radius: 5px;
}

.navName:hover {
    background-color: #849FFF;
}

.userList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    gap: 10px;
}

.userList1, .userList2 {
    width: 83%;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
}

.user {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 33.33%;
    height: 100%;
    border-radius: 15px;
    padding: 24px;
    display: flex;
    column-gap: 16px;
}

.info {
    display: inline-block;
    margin-bottom: 16px;
}

.tagName {
    display: inline-block;
    padding: 5px;
    border: 1px solid #BFC8E5;
    border-radius: 15px;
    color: #516FD4;
    font-size: small;
    margin: 5px;
}

.tagName:hover {
    font-size: medium;
}

.address {
    font-family: Arial, Helvetica, sans-serif;
}

.name {
    font-weight: bold;
}

